<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>音平商城</title>
    <link rel="stylesheet" href="./css/details.css">
    <link rel="stylesheet" href="./css/swiper.css">
    <script src="./js/rem.js"></script>
</head>

<body>
    <nav id="menu" class="mm-menu mm-horizontal mm-ismenu mm-offcanvas mm-current mm-opened">
        <div class="mm-panel mm-opened mm-current" id="mm-0">
            <p style="color:#fe8005;font-size:0.3rem;"><b>网站导航</b></p>
            <ul class="mm-list">
                <li><a href="/">首页</a></li>
                <li><a href="https://m.ingping.com/brand.html">品牌专区</a></li>
                <li><a href="https://m.ingping.com/suit.html">套装分类</a></li>
                <li><a href="https://m.ingping.com/list.html">商品分类</a></li>
                <li><a href="https://m.ingping.com/activity.html">活动专场</a></li>
                <li><a href="https://m.ingping.com/home/index">我的音平</a></li>
                <li><a href="https://m.ingping.com/help.html">帮助中心</a></li>
                <li><a href="https://www.ingping.com/article/announcementList.html" target="_blank">商城公告</a></li>
            </ul>
            <p style="color:#fe8005;font-size:0.3rem;padding:0.4rem 0 0 0"><b>特色服务</b></p>
            <ul class="mm-list">
                <li><a href="http://mzx.ingping.com"><img style="height:0.58rem" src="./images/zx_logo-v1.0.0.jpg"
                            onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"></a></li>
                <li><a href="http://m.ingping.cn"><img style="height:0.54rem" src="./images/lx_logo-v1.0.0.jpg" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"></a></li>
                <li><a href="http://m.yshifu.com"><img style="height:0.58rem" src="./images/ysf_logo-v1.0.0.jpg"
                            onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"></a></li>
            </ul>
            <ul style="padding: 0.1rem 0;" class="mm-list">
                <li><a href="https://m.ingping.com/home/myOrder"><img class="img_ico" src="./images/ico_02-v1.0.0.jpg"
                            onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">订单查询</a></li>
                <li><a href="https://m.ingping.com/home/createComplaint"><img class="img_ico" src="./images/edit_index-1.0.0.png"
                            onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">投诉建议</a></li>
            </ul>
            <ul style="padding: 0.1rem 0;" class="mm-list">
                <li><a href="tel:4007003638" style="color:#fe8005;font-size:0.26rem;"><img class="img_ico" src="./images/ico_03-v1.0.0.jpg"
                            onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">400-700-3638</a></li>
            </ul>
            <div class="pro-table">
                <dl>
                    <dd><a href="https://m.ingping.com/help/genuine.html" rel="nofollow" style="color: #999;">正品保障</a></dd>
                    <dd>售后无忧</dd>
                    <dd>货到付款</dd>
                    <dd>闪电发货</dd>
                </dl>
            </div>
        </div>
    </nav>
    <a rel="nofollow" href="https://m.ingping.com/activity/nov2018.html" title="直击底价 ---  全场满减  每满1000-50元" target="_top"><img
            style="width:7.5rem;display: block;" alt="直击底价 ---  全场满减  每满1000-50元" class="topBanner" iclass="topBanner"
            src="./images/2018111121025204382.jpg" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"></a>
    <div class="mm-page">
        <div class="header">
            <a href="#menu" class="menu_nav">
                <div class="ico_x ico_x_01"></div>
            </a>
            <div class="header-left">
                <a class="header-logo" href="/"></a>
            </div>
            <div class="header-gif">
                <a href="https://m.ingping.com/activity/oct2018.html">
                    <img style="width: 100%;" src="./images/2018_d11_2.gif" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                </a>
            </div>
            <div class="header-right">
                <a class="header-a" rel="nofollow" id="ypSearchTag">
                    <div class="ico_x ico_x_02 global_search_icon"></div>
                    <p class="header-link-tag">搜索</p>
                </a>
                <a rel="nofollow" class="header-a header-a-r">
                    <div class="ico_x ico_x_03"></div>
                    <p class="header-link-tag">我的</p>
                </a>
            </div>
        </div>
        <div class="c_bread">
            <div class=" bread_word floatleft"><a href="https://m.ingping.com">音平商城</a></div>
            <div class="ico_x ico_x_05"></div>
            <div class="bread_word floatleft"><a href="https://m.ingping.com/mics.html">麦克风</a></div>
            <div class="ico_x ico_x_05"></div>
            <div class="bread_word floatleft breadlimit">
                <h1 style="font-size: 0.24rem;">
                    BlueEN CORE 300 电容式手持麦克风
                </h1>
            </div>
        </div>
        <div id="filterDiv" class="filter">
            <ul id="filterUl">
                <li c_id="1" class="filter-cur" wp_id="basicInfo"><a href="javascript:void(0);" onclick="changTab(this)">基本信息</a></li>
                <li c_id="2" wp_id="proDetails"><a href="javascript:void(0);" onclick="changTab(this)" id="proDetailsAuto">商品详情</a></li>
                <li c_id="3" wp_id="proComment"><a href="javascript:void(0);" onclick="changTab(this)" class="commentBtn">评价<span
                            class="a1 f12">(196)</span></a></li>
                <li c_id="4" wp_id="proConsult" style="display:none;"><a href="javascript:void(0);" onclick="changTab(this)"
                        class="consultBtn">咨询<span class="a1 f12">(59)</span></a></li>
                <li c_id="5" wp_id="proRelate"><a href="javascript:void(0);" onclick="changTab(this)" class="relateBtn">相关产品</a></li>
            </ul>
        </div>
        <div class="pro-wrap proBaseInfo-wrap" id="basicInfo">
            <section>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img id="item1" src="./images/20150905162850067328.jpg" alt=""></div>
                        <div class="swiper-slide"><img id="item2" src="./images/201807051705200515872.jpg" alt=""></div>
                        <div class="swiper-slide"><img id="item3" src="./images/20150905162853084065.jpg" alt=""></div>
                        <div class="swiper-slide"><img id="item4" src="./images/201509051628560189627.jpg" alt=""></div>
                        <div class="swiper-slide"><img id="item5" src="./images/201509051629010991798.jpg" alt=""></div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>

                    <!-- 如果需要导航按钮 -->
                    <!-- <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> -->

                    <!-- 如果需要滚动条 -->
                    <!-- <div class="swiper-scrollbar"></div> -->
                </div>
            </section>
            <section class="s-title price-title">
                <div class="ip_price">￥1999.00</div>
                <div class="collect_share">
                    <a class="collectBtn" href="#" onclick="showMessAndRedire(5420)">
                        <img alt="" src="./images/btn-d-col-v1.0.1.png" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </a>
                    <a class="shareBtn" href="#" onclick="showProShareWin()">
                        <img alt="" src="./images/btn-d-share-v1.0.1.png" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </a>
                </div>
            </section>
            <section class="t-title">
                <h1 id="proNameH1" class="title">
                    Blue EN CORE 300 电容式手持麦克风
                </h1>
                <div class="subtitle">更开阔、更细节、更真实的声音</div>
            </section>
            <section id="ip-brand" class="ip-brand">
                <h2>商品品牌：</h2>
                <a href="https://m.ingping.com/b_blue/" class="color06c" title="Blue">Blue </a>
            </section>
            <section class="ip-advantage">
                <h2 class="margintop4">服务保障：</h2>
                <ul class="v">
                    <li>
                        <span class="service-sure">
                            <i class="icon-bg03">
                                <img width="32" height="32" src="./images/servicegua-v1.0.0.jpg" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                            </i>
                            支持7天无理由退货
                        </span>
                    </li>
                    <li>
                        <a href="https://m.ingping.com/help/genuine.html" rel="nofollow">
                            <span class="service-sure">
                                <i class="icon-bg03">
                                    <img width="32" height="32" src="./images/servicegua-v1.0.0.jpg" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                                </i>
                                正品保障 官方保修
                            </span>
                        </a>
                    </li>
                    <li>
                        <span class="service-sure">
                            <i class="icon-bg03">
                                <img width="32" height="32" src="./images/servicegua-v1.0.0.jpg" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                            </i>
                            支持货到付款
                        </span>
                    </li>
                </ul>
                <div class="v2">
                    <a href="https://m.ingping.com/help/genuine.html" title="正品保障" target="_blank">
                        <img alt="正品保障" src="./images/m_certified-1.0.0.jpg" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </a>
                </div>
            </section>
            <section id="cuxiaoAD" class="detail_sec">
                <h2>促&nbsp;&nbsp;&nbsp;&nbsp;销：</h2>
                <div class="detial_sale li_detial_sale">
                    <div class="sale_frame">
                        <div id="yp_ad_text_170728" data-cno="170728" data-parentid="cuxiaoAD"></div>
                        <div id="yp_ad_text_17072805" data-cno="17072805" data-parentid="cuxiaoAD">
                            <div class="sale_content">
                                <p class="margintop4">满减</p>
                                <div class="uof">
                                    <p><a href="https://www.ingping.com/activity/homektv.html" target="_blank" style="color: red">KTV/演出设备每满5000-200元（优惠套装与该活动无法同时参与）&gt;&gt;</a></p>
                                </div>
                            </div>
                            <div class="sale_content">
                                <p class="margintop4">买赠</p>
                                <div class="uof">
                                    <p><a href="https://www.ingping.com/activity/nov2018_xg.html#bk" target="_blank"
                                            style="color: red">AKG、纽曼品牌爆款麦克风买即送福克斯特音频接口（优惠套装与该活动无法同时参与）&gt;&gt;</a></p>
                                </div>
                            </div>
                            <div class="sale_content">
                                <p class="margintop4">买赠</p>
                                <div class="uof">
                                    <p><a href="https://www.ingping.com/activity/nov2018_xg.html#bk-2" target="_blank"
                                            style="color: red">RME、阿波罗品牌热卖声卡买即送得胜HD5800耳机（优惠套装与该活动无法同时参与）&gt;&gt;</a></p>
                                </div>
                            </div>
                            <div class="sale_content">
                                <p class="margintop4">满送</p>
                                <div class="uof">
                                    <p><a href="https://www.ingping.com/activity/nov2018_xg.html#bk-3" target="_blank"
                                            style="color: red">购买品牌指定爆款麦克风、声卡且单笔订单满1500元即送音平纪念版礼包（优惠套装与该活动无法同时参与）&gt;&gt;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sale_frame">
                        <div class="sale_content now_reduct">
                            <span class="margintop4">立减</span>
                            <div class="uof">
                                <p><a href="javascript:;" style="color: red">小程序下单立减五元&gt;&gt;</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div style="margin-top:0.2rem;width:100%;"></div>
            <section class="selectColor li_selectColor">
                <h5>已&nbsp;&nbsp;&nbsp;&nbsp;选：</h5>
                <div style="margin-left: 0.2rem; line-height: 0.56rem;" class="items" id="byPicker">
                    <div class="li_table_g">
                        <div class="li_cell_unit">
                            <span id="selectProSpec">
                            </span>
                            <span id="selectProNum">1</span>件
                        </div>
                        <div class="li_cell_unit li_text_right">
                            <a class="more_link" href="javascript:;">
                                <img alt="" src="./images/more-v1.0.0.png" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ip-advantage li_border_top">
                <h2>配&nbsp;&nbsp;&nbsp;&nbsp;送：</h2>
                <div>
                    <span id="goodsStoreMsg" style="color: #f60;">现货，21:00前完成下单当天发货，预计1-3天到达</span>
                    <br>
                    <div>现在下单，立享满99元包邮
                        <a href="https://m.ingping.com/help/packageMail.html" target="_blank" class="color06c" style="color: #06c;">运费说明</a>
                    </div>
                </div>
            </section>
            <div style="margin-top:0.2rem;width:100%;"></div>
            <section>
                <div id="app">
                    <ul class="tabs">
                        <li v-for="(val,index) in tab" @click='change(index)' @click="toggle"><span>{{val}}</span><span
                                :class="['befo',cur===index?classname:'']"></span></li>
                    </ul>
                    <ul class="ctt">
                        <transition name='fade' mode='out-in'>
                            <li v-if="cur===this.count[0]" key='first'>
                                <com-li></com-li>
                            </li>
                            <li v-else-if="cur===this.count[1]" key='second'>
                                <com-lili></com-lili>
                            </li>
                            <li v-else="cur===this.count[2]" key='three'>
                                <com-lilili></com-lilili>
                            </li>
                        </transition>
                    </ul>
                </div>
            </section>
            <div style="margin-top:0.2rem;width:100%;"></div>
            <section>
                <div class="info-title common-title info-title_none">
                    <h4>视频展示</h4>
                </div>
                <div class="ykplayer">
                    <div class="x-video-title">音平商城-舒尔SM58s麦克风</div>
                    <div class="x-video-poster">
                            <img src="./images/054106015B5694C400000105040825DA.jpg">
                    </div>
                    <div class="x-video-button">
                        <div class="x-video-play-ico x-iconmode-new"></div>
                    </div>
                </div>
            </section>
            <!-- <section>1</section> -->
        </div>
        <div class="li_picker">
        </div>
        <div class="li_picker_body">
            <section class="li_picker_container">
                <header class="li_picker_hd">
                    <span class="li_clumn" id="ove">
                        <img class="ig" src="./images/20150905162850067328.jpg" alt="">
                    </span>
                    <span class="li_price">￥1999.00</span>
                    <a class="li_close" href="javascript:void(0);">
                        <img alt="" src="./images/close-v1.0.0.png" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </a>
                </header>
                <div class="li_picker_bd">
                    <div class="li_group_avg">
                        <p>数量</p>
                        <section class="selectnum li_select_num">
                            <div class="li_fr">
                                <p class="num_minus disabled" id="decrease_span" onclick="changeNum(-1)"></p>
                                <p><input name="" type="text" class="num_text" id="num_input" value="1"></p>
                                <p class="num_add" onclick="changeNum(1)"></p>
                            </div>
                        </section>
                    </div>
                </div>
                <footer class="li_picker_fd">
                    <div class="li_group_yellow">加入购物车</div>
                    <div class="li_group_red">立即购买</div>
                </footer>
            </section>
        </div>
    </div>
    <div class="over"></div>
    <div class="li_portrait_page">
        <div class="li_portrait_middle"><img src="./images/20150905162850067328.jpg"><span>
                Blue EN CORE 300 电容式手持麦克风
            </span>
        </div>
    </div>
    <div class="v-b-1">
        <div class="de_row">
            <a class="v-icon-btn" style="border-right: 1px solid #eee;" href="javascript:void(0)">
                <img style="width: 0.46rem;height: 0.46rem" src="./images/yinge.png" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
            </a>
            <a class="v-icon-btn" href="###">
                <img style="width: 0.46rem;height: 0.46rem" src="./images/shop-v1.0.1.png" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                <span class="vbi-cart-num cartCount">15</span>
            </a>
            <a class="v-btn-yellow" style="line-height: 0.8rem;" id="buyBtn" href="javascript:void(0)" onclick="ajaxSubmitForm()">加入购物车</a>
            <a class="v-btn-red" style="line-height: 0.8rem;" href="javascript:void(0)" onclick="submitForm()">立即购买</a>
        </div>
    </div>
    <input type="text">
</body>
<script src="./js/swiper.js"></script>
<script src="./js/zepto.js"></script>
<script src="./js/fastclick.js"></script>
<script src="./js/touch.js"></script>
<script src="./js/fx.js"></script>
<script src="./js/iscroll-probe.js"></script>
<script src="./js/details.js"></script>
<script src="./js/vue.js"></script>

</html>